<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>chichi</title>
</head>
<body style="font-family: 'Kanit', sans-serif;">
    <h1 style="color: rgb(57, 87, 219);">Portfolio</h1>
    <h2>About Me</h2>
    <img src="../images/me.jpg" style="width: 300px;height:300px">

    <ul>
        <li>ชื่อ : ธีรวัฒน์ เกียรติก่อสิน
        <li>ชื่อเล่น : ชิ
        <li>อายุ : 19 ปี
        <li>รหัสนิสิต : 67024784
    </ul>

    <h2>Education</h2>

    <ul>
        <li>มหาวิทยาลัยพะเยา
        <li>คณะ : คณะเทคโนโลยีสารสนเทศและการสื่อสาร
        <li>สาขา : วิทยาการคอมพิวเตอร์
        <li>เกรดเฉลีย : 3.36
    </ul>

    <h2>Hobbies</h2>
    <ul>
        <li>เล่นเกม
        <li>ฟังเพลง
        <li>ดูอนิเมะ,ซีรีส์จีน
    </ul>

    <h2>Contact</h2>
    <ul>
        <li>Facebook : Chi Thirawat
        <li>Instagram : ichxqx_
        <li>Email : chichithirawat.9697@gmail.com
        <li>University Email : 67024784@up.ac.th
        <li>Phone Number : 095-956-9697
    </ul>

    <h2>Educational record</h2>
    <table border="1">
        <tr>
            <th>ระดับการศึกษา</th>
            <th>สถาบัน</th>
        </tr>
        <tr>
            <td>อนุบาล</td>
            <td>โรงเรียนกอบวิทยาคม</td>
        </tr>
        <tr>
            <td>ประถมศึกษา</td>
            <td>โรงเรียนปัญจทรัพย์</td>
        </tr>
        <tr>
            <td>มัธยมศึกษาตอนต้น</td>
            <td>โรงเรียนเตรียมอุดมศึกษาพัฒนาการรัชดา</td>
        </tr>
        <tr>
            <td>มัธยมศึกษาตอนปลาย</td>
            <td>โรงเรียนพานพิทยาคม</td>
        </tr>
        <tr>
            <td>มหาวิทยาลัย</td>
            <td>มหาวิทยาลัยพะเยา</td>
        </tr> 
    <teble> 
</body>
</html> 